<div class="row ml-3">
  <div class="col-md-4 mt-2">
    <label><b>QRCode Text</b></label>
    <textarea
      type="text"
      class="form-control"
      [(ngModel)]="qrCodeText"
      name="qrCodeText"
    ></textarea>
  </div>

  <div class="col-md-2">
    <qrcode
      [qrdata]="qrCodeText"
      [width]="10"
      [colorDark]="'#8918999'"
      [colorLight]="'#FF1567'"
      [errorCorrectionLevel]="'M'"
    ></qrcode>
  </div>
</div>

<table class="table table-bordered">
  <tr>
    <th>Name</th>
    <th>Price</th>
    <th>Quantity</th>
  </tr>

  <tr *ngFor="let item of table">
    <td>{{ item.productName }}</td>
    <td>{{ item.productPrice }}</td>
    <td>{{ item.productQuantity }}</td>
  </tr>
</table>
